*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(180deg,#ffffff 0%,#eef1fb 100%);
    color:#08265d;
    overflow-x:hidden;
}

/*==========================
        HEADER
===========================*/

header{

    width:100%;
    height:68px;

    background:#07245d;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 60px;

    position:sticky;
    top:0;
    z-index:999;
}

header::after{

    content:'';

    position:absolute;
    bottom:-3px;
    left:0;

    width:100%;
    height:3px;

    background:#8a39ff;

}

.logo{

    display:flex;
    align-items:center;
    gap:15px;

}

.logo img{

    width:48px;
    height:48px;
    object-fit:contain;

}

.logo h2{

    color:white;
    font-size:29px;
    font-weight:700;
    letter-spacing:.5px;

}

nav{

    display:flex;
    gap:45px;

}

nav a{

    text-decoration:none;
    color:#93a1c2;
    font-size:17px;
    font-weight:700;
    transition:.25s;

}

nav a:hover{

    color:white;

}

.activo{

    color:white;

}

/*==========================
      CONTENEDOR
===========================*/

.galeria{

    width:100%;
    max-width:1360px;

    margin:auto;

    padding:20px 45px 0;

    text-align:center;

}

.galeria h3{

    font-size:18px;
    font-weight:700;

}

.galeria h1{

    margin-top:8px;

    font-size:55px;

    font-weight:800;

    color:#08265d;

}

/*==========================
        TABS
===========================*/

.tabs{

    display:flex;

    justify-content:center;

    gap:40px;

    margin-top:20px;

    margin-bottom:25px;

}

.tab{

    border:none;
    background:none;

    cursor:pointer;

    font-size:28px;

    color:#07245d;

    font-weight:500;

    padding-bottom:6px;

}

.tab.active{

    border-bottom:4px solid #07245d;

}

/*==========================
        GRID
===========================*/

.contenido{

    display:none;

}

.contenido.active{

    display:block;

}

.grid{

    display:grid;

    grid-template-columns:48% 52%;

    gap:18px;

}

/*==========================
      IZQUIERDA
===========================*/

.izquierda{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.grande{

    height:290px;

    border-radius:18px;

    overflow:hidden;

    border:2px solid #08265d;

    box-shadow:0 10px 20px rgba(0,0,0,.08);

}

.grande img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.4s;

}

.grande img:hover{

    transform:scale(1.05);

}

/*==========================
     ABAJO
===========================*/

.abajo{

    display:flex;

    gap:18px;

}

.pequeña{

    width:50%;

    height:135px;

    overflow:hidden;

    border-radius:18px;

    border:2px solid #08265d;

    box-shadow:0 8px 18px rgba(0,0,0,.08);

}

.pequeña img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.4s;

}

.pequeña img:hover{

    transform:scale(1.05);

}

/*==========================
      DERECHA
===========================*/

.derecha{

    height:443px;

    overflow:hidden;

    border-radius:18px;

    border:2px solid #08265d;

    box-shadow:0 10px 20px rgba(0,0,0,.08);

}

.derecha img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.4s;

}

.derecha img:hover{

    transform:scale(1.04);

}

/*==========================
        BOTON
===========================*/

.boton{

    display:flex;

    justify-content:center;

    margin-top:-15px;

    position:relative;

    z-index:5;

}

.boton button{

    background:#07245d;

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:12px;

    font-size:15px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 8px 20px rgba(0,0,0,.18);

}

.boton button:hover{

    transform:translateY(-3px);

    background:#0b327b;

}

/*==========================
      RESPONSIVE
===========================*/

@media(max-width:1100px){

.grid{

grid-template-columns:1fr;

}

.derecha{

height:350px;

}

.galeria h1{

font-size:42px;

}

}

@media(max-width:700px){

header{

padding:15px 25px;

flex-direction:column;

height:auto;

gap:20px;

}

nav{

gap:18px;

flex-wrap:wrap;

justify-content:center;

}

.galeria{

padding:20px;

}

.galeria h1{

font-size:32px;

}

.tabs{

gap:15px;

flex-wrap:wrap;

}

.tab{

font-size:18px;

}

.abajo{

flex-direction:column;

}

.pequeña{

width:100%;

}

}